// ----- COLORS -----
$turquoise: #23A3C1;
$salmon: #f08d7e;
$yellow: #cdc327;
$primary_background: $turquoise;
$copy_color: #484747;
$link: $turquoise;
$button: $link;
$highlight: $link;
$hover: $yellow;

// ----- FONTS -----
$primary_font: 'Roboto', sans-serif;



// ----- GRID -----
$max-width: 2600px; //true 1650px content column when accounting for container and column padding
$grid-columns: 12;
$column-width: ((1/$grid-columns)*100%);
$gutter-width: 20px;
$gutter-width-sm: 20px;
$gutter-width-med: 24px;
$gutter-width-lg: 30px;
$gutter-width-xl: 40px;

	//breakpoints
	$breakpoint1prefix: sm;
	$breakpoint2prefix: med;
	$breakpoint3prefix: lg;
	$breakpoint4prefix: xl;

	//values
	$sm: 481px;
	$med: 768px;
	$lg: 1024px;
	$xl: 1650px;

	//breakpoint names and values as a sass 'array'
	$breakpoints: $breakpoint1prefix $sm, $breakpoint2prefix $med, $breakpoint3prefix $lg, $breakpoint4prefix $xl;

// ---- General Layout ----

$page_padding_bottom: 75px;
$scrollspeed: 0.7s;
