@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html {
    font-size: 62.5%;
}

body {
    font-family: $primary_font;
    letter-spacing: 1px;
    @include font-size(15px);
    min-width: 320px; 
}

//helpers
.no_break {
    white-space: nowrap;
}

header {
    position: absolute;
}

p, br {
    line-height: 35px;

    @include breakpoint(med) {
        line-height: 65px;
    }
}

#content {
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    @include transition(all .15s ease-in-out);

    &.loaded {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0px));
    }
}


.clear {
    clear: both;
}

.ui_scroll_down {
    width: 50px;
    height: 50px;
    background: red;
    margin: auto;
}

.ui_close_button {
    width: 33px;
    height: 33px;
    position: fixed;
    top: 22px;
    right: 22px;
    border: none;
    background-color: transparent;
    z-index: 100;

    &:before, &:after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #222;
        top: 15px;
        left: 0;
        display: block;
        position: absolute;
    }

    &:after {
        @include transform(rotate(135deg));
    }
    &:before {
        @include transform(rotate(-135deg));
    }
}

form {
    input, textarea {
        width: 100%;
        padding: 0.625em 1em;
        border: 2px solid;
        border-color: #f1f1f1;
        border-radius: 3px;
        -webkit-appearance: none;
        color: #585858;
        background-color: transparent;
        box-shadow: none;
        @include font-size(18px);
        line-height: 24px;
        vertical-align: middle;
        margin-bottom: 20px;
    }

    textarea {
        line-height: 28px;
    }

    input[type="submit"] {

        @include breakpoint(med) {
            max-width: 200px;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 13px 20px;
    background-color: #484747;

    .social_icons {
        width: 50%;
        float: left;
        a {
            color: #fff;
            text-decoration: none;
            @include font-size(30px);
            margin: 0 11px;

            &:hover {
                color: $link;
            }
        }
    }

    .links {
        width: 50%;
        float: left;
        text-align: right;
        a {
            padding: 0 10px 2px 10px;
            display: inline-block;
            color: #fff;

            &:hover {
                color: $link;
            }

            @media screen and (min-width:370px) {
                padding: 13px 10px 10px 10px;
            }
        }
    }

    @include breakpoint(med) {
        padding: 24px 20px;

        .social_icons {
            a {
                @include font-size(38px);
            }
        }
    }
}
button {
    outline: none;
}
.btn {
  background: transparent;
  border: 1px solid #222;
  padding: 10px 20px;
  margin-top: 35px;
}

a {
  color: $link;
  text-decoration: none;
  @include font-size(17px);
  outline: none;
  @include transition(color .20s ease-in-out);

  &:hover {
    color: $hover;
  }
}