@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html {
    font-size: 62.5%;
}

body {
    font-family: $primary_font;
    letter-spacing: 1px;
    @include font-size(15px);
    min-width: 320px; 
}

//helpers
.no_break {
    white-space: nowrap;
}

header, #content, footer {
    padding-left: 20px;
    padding-right: 20px;

    @include breakpoint(med) {
        padding-left: 45px;
        padding-right: 45px;
    }
}

header {
    padding-top: 10px;
    h1 {
        text-indent: -9999px;

        a {
            background-image:url(/assets/logo.gif);
            background-size: 100%;
            width: 60px;
            height: 60px;
            display: block;
        }
    }

    @include breakpoint(med) {
        padding-top: 50px;
    }
}

p, br {
    line-height: 35px;

    @include breakpoint(med) {
        line-height: 65px;
    }
}

#content {
    opacity: 0;
    visibility: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    @include transform(translateY(10px));
    @include transition(all .15s ease-in-out);

    &.loaded {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0px));
    }

    @include breakpoint(med) {
        min-height: 650px;
    }
}


.clear {
    clear: both;
}

.ui_scroll_down {
    width: 50px;
    height: 50px;
    background: red;
    margin: auto;
}

.ui_close_button {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 37px;
    right: 22px;
    border: none;
    background-color: transparent;
    z-index: 100;
    text-align: center;
    padding-top: 29px;
    text-align: center;
    color: $copy_color;

    &:before, &:after {
        content: "";
        height: 2px;
        width: 25px;
        background-color: $copy_color;
        top: 15px;
        left: 4px;
        display: block;
        position: absolute;
    }

    &:hover {
        color: $copy_color;
    }

    &:after {
        @include transform(rotate(135deg));
    }
    &:before {
        @include transform(rotate(-135deg));
    }

    @include breakpoint(med) {
        position: fixed;
        padding-top: 32px;
        top: 30px;

        &:before, &:after {
            height: 3px;
            width: 100%;
            left: 0;
        }
    }
}

form {
    max-width: 600px;
    margin: 50px 0;
    input, textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid;
        border-color: #f1f1f1;
        -webkit-appearance: none;
        color: #585858;
        background-color: transparent;
        box-shadow: none;
        @include font-size(15px);
        line-height: 20px;
        vertical-align: middle;
        margin-bottom: 20px;
    }

    textarea {
        line-height: 28px;
    }

    input[type="submit"] {
        background-color: $button;
        @include transition(background-color .15s ease-in-out);
        color: #fff;
        border: none;
        border-radius: 0;

        &:hover {
            background-color: $hover;
        }

        @include breakpoint(med) {
            max-width: 200px;
        }
    }
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;

    p {
        line-height: 16px;
        padding-bottom: 15px;
    }

    .social_icons {
        width: 100%;
        a {
            color: $copy_color;
            text-decoration: none;
            @include font-size(16px);
            font-family: inherit;
            width: 100%;
            display: block;
            margin-bottom: 15px;
            line-height: 27px;
            height: 20px;

            &:hover {
                color: $hover;
            }

            &:before {
                width: 20px;
                height: 23px;
                line-height: inherit;
                overflow: hidden;
                display: inline-block;
                position: relative;
                top: 4px;
            }
        }

        @include breakpoint(med) {
            width: 50%;
            float: left;

            a {
                width: auto;
                display: inline;
                margin-right: 20px;
            }
        }
    }

    .copyright {
        width: 100%;
        p {
            line-height: 35px;
        }

        span {
            color: $highlight;
        }

        @include breakpoint(med) {
            width: 50%;
            float: left;
            text-align: right;
        }
    }
}
button {
    outline: none;
}
.btn {
  background: transparent;
  border: 1px solid #222;
  padding: 10px 20px;
  margin-top: 35px;
}

a {
  color: $link;
  text-decoration: none;
  font-size: inherit;
  outline: none;
  @include transition(color .20s ease-in-out);

  &:hover {
    color: $hover;
  }
}