@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

html {
    font-size: 62.5%;
}

body {
    font-family: $primary_font;
    letter-spacing: 1px;
    @include font-size(15px);
}

header {
    position: absolute;
}

p {
    line-height: 2;
}

.clear {
    clear: both;
}

.ui_scroll_down {
    width: 50px;
    height: 50px;
    background: red;
    margin: auto;
}

.ui_close_button {
    width: 33px;
    height: 33px;
    position: fixed;
    top: 40px;
    right: 40px;
    border: none;
    background-color: transparent;

    &:before, &:after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #222;
        top: 15px;
        left: 0;
        display: block;
        position: absolute;
    }

    &:after {
        @include transform(rotate(135deg));
    }
    &:before {
        @include transform(rotate(-135deg));
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 24px 20px;
    background-color: #222;

    .social_icons {
        width: 50%;
        float: left;
        a {
            color: #fff;
            text-decoration: none;
            @include font-size(38px);
            margin: 0 11px;
        }
    }

    .links {
        width: 50%;
        float: left;
        text-align: right;
        a {
            padding: 21px 10px 0 10px;
            display: inline-block;
            color: #fff;
        }
    }
}
button {
    outline: none;
}
.btn {
  background: transparent;
  border: 1px solid #222;
  padding: 10px 20px;
  margin-top: 35px;
}

a {
  color: #222;
  text-decoration: none;
  @include font-size(17px);
  outline: none;
}