@import '_variables';
@import '_mixins';
@import 'normalize';
@import 'grid_inline_block';
@import 'social_icons';
@import 'global_styles';
@import 'resume';

.home {
    background-color: #23A3C1
}

#intro {
    width: 80%;
    margin: 100px 0 0 20px;
    padding-bottom: 100px;

    h1, h2, h3, p {
        color: #fff;
        @include font-size(29px);

        a {
            font-size: inherit;
        }

        @include breakpoint(sm) {
            @include font-size(35px);
        }

        @include breakpoint(med) {
            @include font-size(47px);
        }
    }

    .rotating_words {
        position: relative;
        margin-bottom: 75px;

        span {
            display: block;
            text-transform: none;
            letter-spacing: 2px;
            font: inherit;
            margin: 0;
            position: absolute;
            top: 0;
            opacity: 0;
            width: 100%;
            @include transition (opacity .3s ease-in-out);

            &.active {
                opacity: 1;
            }
        }
    }

    @include breakpoint(med) {
        margin: 100px 0 0 10%;
    }
}

.about {
    p {
        line-height: 35px;
    }

    .grid {
          margin-bottom: 40px;
    }

    .column {
        display: block;
        max-width: 700px;
        margin: auto;
    }

    section {
      margin-top: 75px;
    }

    footer {
        display: none;
    }
}
