@import '_variables';
@import '_mixins';
@import 'normalize';
@import 'grid_inline_block';
@import 'social_icons';
@import 'global_styles';
@import 'resume';

.home {
    background-color: #23A3C1
}

#intro {
    width: 80%;
    margin: 100px 0 0 10%;

    h1, h2, h3, p {
        color: #fff;
        @include font-size(47px);

        a {
            color: inherit;
            font-size: inherit;
        }
    }
}
