extends layout
block beforeBody
  - bodyClasses.push('about')

extends layout

block content
   a.ui_close_button(href="/")
   section
      div.container
         div.grid
            div.column
               h1 About Chris Burke

               p As a Developer I pride myself on my ability to collaborate and strategize with my coworkers. I love pixel pushing with designers, researching with UX architects, and pushing the boundaries of what it means to deliver to a product with my fellow developers. Over the last several years I've learned through osmosis and dedicated skill building the basics of UX arcitecture, typography and visual design. I'm at my best when I'm working on set tasks and working towards a goal &mdash; with an empowered team. I am passionate about what I do and love fostering my skills and building towards my next adventure.

               p For the last while I've been the lone fulltime web developer at <a href="http://www.intentionalfutures.com" target="_blank">Intentional Futures</a>, Where I've been honing my skills laterally &mdash; learning to research, strategize, communicate with clients and run small teams of contact developers. 

               p Outside of work you'll likely hear about insatiable thirst for travel, my adventures in home renovation, and my love of food and craft cocktails. 

               p I’d love to connect with you! Send me a <a href="/contact">message</a> or find me on <a href="https://www.linkedin.com/in/uidevchrisburke" target="_blank">LinkedIn</a>.