extends layout
block beforeBody
  - bodyClasses.push('home')

extends layout

block content
   div#intro
      h1 Hello. I'm <a href="/about">Chris Burke</a>. I'm a UI developer living in Seattle.

      h2 I colaborate. 

      p Have a look at my <a href="/resume">resume</a>