extends layout
block beforeBody
  - bodyClasses.push('home')

extends layout

block content
  div#pagepiling
    div.section
      artcile
        h1 Home Page
    div.section.if
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details
    div.section.chefinthehat
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details
    div.section.starbucks
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details
    div.section.bspot
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details
    div.section.glg
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details
    div.section.tmo
      article.project
        h1
            a(href="http://www.intentionalfutures.com") Intentional Futures
        div.project_card
          div.face.face_front
            img(src="/images/if_work.gif" title="website development for intentional futures")
          div.face.face_back
            h2 Website development
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      button.btn.btn_show_info Project Details