extends layout
block beforeBody
  - bodyClasses.push('home')

extends layout

block content
   div#intro
      h1 Hello! My name is <span class="no_break"><a href="/about">Chris Burke.</a></span><br /> I'm a UI developer living in <a href="http://www.instagram.com/presswanders" target="_blank">Seattle.</a>

      h2.rotating_words &nbsp;
        <span class="active">I collaborate with designers.</span>
        <span>I strategize with researchers.</span>
        <span>I lead teams.</span>
        <span>I solve problems.</span>
        <span>and I love tacos.</span>

      p Have a look at my <a href="/resume">resume,</a> <br />my latest <a href="http://www.intentionalfutures.com" target="_blank">work</a> or <a href="/contact">say hi.</a>