doctype html

- var bodyClasses = [];
- var tabsMobileNav = [];
block beforeBody

html(lang='en' class=bodyClasses)
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      meta(name="pinterest" content="nopin")
      meta(name="description" content="Seattle interactive developer portfolio for Chris Burke, brands and companies worked for: Intentional Futures, Starbucks, The Chef in the Hat, The Garrigan Lyman Group, Brightspot, Tmobile")
      title= locals.name
      <!-- Standard Favicon -->
      link(rel='icon', type='image/png', href='/assets/favicon.ico')
      link(rel='icon', type='image/png', href='/assets/favicon-32x32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/assets/favicon-16x16.png', sizes='16x16')
      <!-- For iPhone 4 Retina display: -->
      link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon.png")
      <!-- For iPad: -->
      link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon.png")
      <!-- For iPhone: -->
      link(rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon.png")
      link(rel='stylesheet', href='/css/styles.css')  
  body(class=bodyClasses)
    header
      h1 
        a(href="/") Chris Burke
      a.ui_close_button(href="/")
    div#content
          block content
    footer
      div.social_icons
        p
          a.symbol(href='https://github.com/chrisburkedev', target="_blank", title='circlegithub') github
          a.symbol(href='https://www.linkedin.com/in/uidevchrisburke', target="_blank", title='circlelinkedin') linkedIn
          a.symbol(href='https://instagram.com/presswanders', target="_blank", title='circleinstagram') instagram

      div.copyright
        p copyright <span>&copy;</span> 2016

    include scripts
